body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.orangeBack {
  background: #df622b;
}

.navbar {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trail1 {
  color: #df622b;
}

.contactButtons {
  padding-top: 1em;
}

.strong {
  font-weight: 800;
}

nav .brand-logo {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
}

.logoImg {
  /* -webkit-transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); */
  /* transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); */
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); */
  /* -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); */
  margin-top: 0.9rem;
  margin-right: 9px;
  width: 32px;
}

img.logoImg:hover {
  /* -webkit-transform: rotate(1turn); */
  transform: rotate(1turn);
}

.turn {
  /* -webkit-transform: rotate(0.5turn); */
  transform: rotate(0.5turn);
}

.pointer {
  cursor: pointer;
}
