.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.breadcrumb {
  font-size: 1rem !important;
  line-height: 2rem;
}

#navigationBreadcrumbs {
  margin-top: 1rem;
}
.breadcrumb:before {
  font-size: 1.5rem !important;
  margin: 0 0.3rem 0 0 !important;
}

#map {
  height: 35vh;
  /* width: 100%; */
  z-index: 0;
}

.brand-logo {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.9rem;
  text-align: right;
  margin-top: 1.2rem;
  width: 4.8rem;
  margin-right: 0.9rem;
}

.pointer {
  cursor: pointer;
}

#photoDisplay {
  display: none;
}

tr.pika-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#QuantityDisplay,
#ObservationAreaDisplay {
  font-size: 2.1rem;
  font-weight: 200;
}
.meters {
  font-size: 1.4rem;
  font-weight: 200;
}

footer.page-footer {
  bottom: 0;
  position: fixed;
  padding-top: 0;
  height: 4rem;
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  div#toast-container {
    bottom: 4.8rem;
  }
}

.z12 {
  z-index: 12;
}

main {
  margin-bottom: 6rem !important;
}
