.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.breadcrumb {
  font-size: 1rem !important;
  line-height: 2rem;
}

#navigationBreadcrumbs {
  margin-top: 1rem;
}
.breadcrumb:before {
  font-size: 1.5rem !important;
  margin: 0 0.3rem 0 0 !important;
}

#map {
  height: 35vh;
  /* width: 100%; */
  z-index: 0;
}

.leaflet-marker-icon.leaflet-div-icon {
  background: #f37315de;
  border-radius: 10px;
}

.brand-logo {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0.9rem;
  text-align: right;
  margin-top: 1.2rem;
  width: 4.8rem;
  margin-right: 0.9rem;
}

.pointer {
  cursor: pointer;
}

#photoDisplay {
  display: none;
}

tr.pika-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#QuantityDisplay,
#ObservationAreaDisplay {
  font-size: 2.1rem;
  font-weight: 200;
}
.meters {
  font-size: 1.4rem;
  font-weight: 200;
}

footer.page-footer {
  bottom: 0;
  position: fixed;
  padding-top: 0;
  height: 4rem;
  width: 100%;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  div#toast-container {
    bottom: 4.8rem;
  }
}

.strong {
  font-weight: 800;
}

#map2 {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
}

.z12 {
  z-index: 12;
}

main {
  margin-bottom: 6rem !important;
}

.materialbox-caption,
#material-box-overlay {
  bottom: 4rem;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out forwards;
  opacity: 1;
}

@keyframes fadeOut {
  10% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.hidden {
  opacity: 0;
}
.fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  10% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
