<%
const site = {
  name: 'Citizen Science',
  description: 'A tool for participatory monitoring in Kullaberg.',
  lansstyrelsen: require("./img/lansstyrelsen.svg"),
  regionSkane: require("./img/regionSkane.svg"),
  asterisk: require("./img/asterisk.svg"),
  github: "https://xtreemze.github.io/KullabergCitizenScience/",
  logo: require('../public/android-chrome-512x512.png')
}
%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>${ site.name }</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.0, maximum-scale=10.0">
    <link rel="canonical" href="${ site.github }" />
    <link rel="manifest" href="${ site.github }manifest.json">
    <meta name="theme-color" content="#0d47a1">
    <link rel="apple-touch-icon" sizes="180x180" href="${ site.github }apple-touch-icon.png">
    <link rel="icon" type="image/png" href="${ site.github }favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="${ site.github }favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="${ site.github }safari-pinned-tab.svg" color="#0d47a1">
    <meta name="apple-mobile-web-app-title" content="${ site.name }">
    <meta name="application-name" content="${ site.name }">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="${ site.github }mstile-310x310.png">
    <meta name="msapplication-config" content="${ site.github }browserconfig.xml">
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: #eeeeee;
      }

      main {
        flex: 1 0 auto;
      }

      .strong {
        font-weight: 800;
      }

      nav .brand-logo {
        font-size: 1.4rem !important;
        text-transform: uppercase;
        font-weight: 600;
      }

      .logoImg {
        transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
        margin-top: 0.9rem;
        margin-right: 9px;
        width: 32px;
      }

      #loading {
        height: 100%;
        width: 100%;
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10000;
        overflow: hidden;
      }

      .loaderImg {
        max-width: 52vw;
        max-height: 40vh;
      }

    </style>
  </head>

  <body id="loadContent" class="grey lighten-3">
    <section id="loading">
      <img class="loaderImg" src="${ site.logo }" alt="${ site.name }">
    </section>
    <header class="navbar z-depth-2">
      <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper">
          <a class="brand-logo">
            <span class="kullaberg">
              <img class="left logoImg responsive-img turn" src="${ site.asterisk}" alt="${ site.name }" />${ site.name }</span>
          </a>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <section id="missions"></section>
      </div>
    </main>
    <footer class="blue darken-4 white-text page-footer">
      <div class="row container">
        <section id="contact" class="">
          <div class="col s12 m6 l6 contactButtons">
            <a href="mailto:naturum.kullaberg@lansstyrelsen.se?cc=carlos.velasco@lansstyrelsen.se" class="tooltipped" data-position="bottom"
              data-delay="50" data-tooltip="Email: naturum.kullaberg@lansstyrelsen.se">
              <i class="mdi mdi-email medium grey-text text-lighten-4 contactIcon"></i>
            </a>
            <a href="tel:46042347056" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tel: +46 (0)42 347 056">
              <i class="mdi mdi-phone-classic medium grey-text text-lighten-4 contactIcon"></i>
            </a>
            <a href="http://www.kullabergsnatur.se/" class="tooltipped onlineOnly" data-position="bottom" data-delay="50" data-tooltip="Website: KullabergsNatur.se">
              <i class="mdi mdi-web medium grey-text text-lighten-4 contactIcon"></i>
            </a>
            <a href="https://www.facebook.com/kullabergsnaturreservat/" class="tooltipped onlineOnly" data-position="bottom" data-delay="50"
              data-tooltip="Facebook: Kullabergs Naturreservat">
              <i class="mdi mdi-facebook-box medium grey-text text-lighten-4 contactIcon"></i>
            </a>
            <a href="https://www.instagram.com/kullabergsnaturreservat/" class="tooltipped onlineOnly" data-position="bottom" data-delay="50"
              data-tooltip="Instagram: naturum Kullaberg">
              <i class="mdi mdi-instagram medium grey-text text-lighten-4 contactIcon"></i>
            </a>
          </div>
        </section>
        <div class="">
          <div class="col s6 m6 l6">Sponsors
            <br>
            <a class="orange-text text-lighten-3 modal-trigger" href="#skane">Region Skåne</a>
            <br>
            <a class="orange-text text-lighten-3 modal-trigger" href="#lansstyrelsen">Lansstyrelsen Skåne</a>
          </div>
          <!-- <div class="col s6 m4 l2">Language
          <br>
          <a class="orange-text text-lighten-3" href="#">Svenska</a>
          <br>
          <a class="orange-text text-lighten-3">English</a>
        </div> -->
        </div>
      </div>
    </footer>
    <div id="skane" class="modal">
      <div class="modal-content row center-align">
        <img src="${ site.regionSkane }" alt="Region Skane" class="responsive-img" /> </div>
    </div>
    <div id="lansstyrelsen" class="modal">
      <div class="modal-content row center-align">
        <img src="${ site.lansstyrelsen }" alt="Lansstyrelsen Skane" class="responsive-img" /> </div>
    </div>
  </body>

  </html>
